<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" charset="UTF-8"
                           pattern="%style{%d{yyyy-MM-dd HH:mm:ss}}{cyan} [%style{%t}{magenta}] %highlight{%-5level}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=bright green, DEBUG=blue, TRACE=cyan} %highlight{%logger{36}}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=bright green, DEBUG=blue, TRACE=cyan} - %highlight{%msg}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=bright green, DEBUG=blue, TRACE=cyan}%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root logger: INFO level for your app -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Spark internal logs: WARN and above -->
        <Logger name="org.apache.spark" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Hadoop logs: ERROR and above -->
        <Logger name="org.apache.hadoop" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Spark shaded projects -->
        <Logger name="org.sparkproject" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.parquet" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.zookeeper" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Uncomment this to color your application package logs if needed -->
        <!--
        <Logger name="com.project" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        -->
    </Loggers>
</Configuration>
